.fab {
  position: absolute;
  left: calc(50% - 28px);
  bottom: -26px;
  z-index: 3;
  
}


.title-section {
  position: relative;
  height: calc(100vh - 64px);
  width: auto;
  background-color: #f3f3f3;
  background: url('/img/site_cover.png') center 30% no-repeat;
  background-size: cover;
}



.slogan {
  font-size: 60px;
  padding-top: 160px;
  color: rgb(203, 203, 203);
}

.sub-slogan {
  font-size: 21px;
  padding-top: 24px;
  color: rgb(180, 180, 180);
}


.paginator__container {
  padding: 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



.latest-post-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .latest-post-section .section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }
