{{ partial "header.html" .}}

    <!-- Page Header -->
    <div class="android-be-together-section mdl-typography--text-center">
      <div class="logo-font android-slogan">{{ .Title }}</div>
      <div class="logo-font android-sub-slogan">{{ .Description }}</div>

      <a href="#entry">
        <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <i class="material-icons">expand_more</i>
        </button>
      </a>
    </div>


    <!-- Main Content -->
    <div class="android-customized-section">
      <a name="entry"></a>
      <div class="android-customized-section-text">
        {{ .Content }}
      </div>
    </div>

{{ partial "footer.html" .}}
