{{ partial "header.html" . }}

<div class="cheatsheet-list">

  <div class="mdl-grid">

    {{ $cellSize := div .Paginator.PageSize 2 }}

    <div class="mdl-cell mdl-cell--6-col">
    {{ range $idx, $page := first $cellSize ( sort .Paginator.Pages ) }}
      {{ .Render "summary" }}
    {{ end }}
    </div>

    <div class="mdl-cell mdl-cell--6-col">
    {{ if gt .Paginator.NumberOfElements $cellSize }}
    {{ range $idx, $page := last $cellSize ( sort .Paginator.Pages ) }}
      {{ .Render "summary" }}
    {{ end }}
    {{ end }}
    </div>

  </div>

</div>

  {{ partial "pagination" . }}

{{ partial "footer.html" . }}
