        <footer class="mdl-mega-footer footer">
            <div class="mdl-mega-footer--top-section">
                <div class="mdl-mega-footer--left-section">
                  {{ range $index, $element := .Site.Params.Social }}
                    <button name="social-{{ $element.name }}" data-url="{{ $element.url }}" class="mdl-mega-footer--social-btn"><i class="zmdi zmdi-{{ $element.icon }} zmdi-hc-2x"></i></button>&nbsp;
                  {{ end }}
                </div>
                <div class="mdl-mega-footer--right-section">
                    <a class="mdl-typography--font-light" href="#top">
                        Back to Top
                        <i class="material-icons">expand_less</i>
                    </a>
                </div>
            </div>

        </footer>
      </main>
    </div>

    <!-- Material Design Lite -->
    <script src="{{ .Site.BaseURL }}/js/material.min.js"></script>

    <!-- Syntax Highlighting -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Site specific things -->
    <script src="{{ .Site.BaseURL }}/js/site.js"></script>

  </body>

</html>
