<nav class="drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
    <img class="logo-image" src="/img/logo-white.png">
  </span>
  <nav class="mdl-navigation">

    {{ range .Site.Menus.main }}
    <a class="mdl-navigation__link" href="{{ .URL }}">{{ .Name }}</a>
    {{end}}
    <!--
    <div class="drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Me</span>
    <a class="mdl-navigation__link" href="/contact">Contact</a>
    <a class="mdl-navigation__link" href="/about">About</a>
    -->
  </nav>
</nav>
