
<div class="paginator__container">

{{ if $.Paginator.HasPrev }}
<a class="mdl-button mdl-js-button mdl-button--icon mdl-button" href="{{ $.Paginator.Prev.URL }}">
  <i class="material-icons">arrow_left</i>
</a>
{{ else }}
<span class="mdl-button mdl-js-button mdl-button--icon mdl-button" disabled>
  <i class="material-icons">arrow_left</i>
</span>
{{ end }}


{{ range $.Paginator.Pagers }}

  {{ if eq . $.Paginator }}
  <span class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
    <small>{{ .PageNumber }}</small>
  </span>
  {{ else }}
  <a class="mdl-button mdl-js-button mdl-button--icon mdl-button" href="{{ .URL }}" >
    <small>{{ .PageNumber }}</small>
  </a>
  {{ end }}

{{ end }}

{{ if $.Paginator.HasNext }}
<a class="mdl-button mdl-js-button mdl-button--icon mdl-button" href="{{ $.Paginator.Next.URL }}">
  <i class="material-icons">arrow_right</i>
</a>
{{ else }}
<span class="mdl-button mdl-js-button mdl-button--icon mdl-button" disabled>
  <i class="material-icons">arrow_right</i>
</span>
{{ end }}

</div>
