<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . -}}

<body>

  <!-- Following Menu -->
  <div class="ui large top fixed hidden menu">
    <div class="ui container">
      {{ range .Site.Menus.main }}
      <a class="{{ if or (and (ne .URL "/") (hasPrefix $.URL .URL)) (and (eq .URL "/") (eq $.URL "/")) }}active{{ end }} item"
        href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      <!--
            <div class="right menu">
              <div class="item">
                <a class="ui button">Log in</a>
              </div>
              <div class="item">
                <a class="ui primary button">Sign Up</a>
              </div>
            </div>
            -->
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    {{ range .Site.Menus.main }}
    <a class="{{ if or (and (ne .URL "/") (hasPrefix $.URL .URL)) (and (eq .URL "/") (eq $.URL "/")) }}active{{ end }} item"
      href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    <!--
          <a class="item">Login</a>
          <a class="item">Signup</a>
          -->
  </div>

  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          {{ range .Site.Menus.main }}
          <a class="{{ if or (and (ne .URL "/") (hasPrefix $.URL .URL)) (and (eq .URL "/") (eq $.URL "/")) }}active{{ end }} item"
            href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
          <!--
                <div class="right item">
                  <a class="ui inverted button">Log in</a>
                  <a class="ui inverted button">Sign Up</a>
                </div>
              -->
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">
          {{ .Title | upper }}
        </h1>
        <div class="abstract">{{ .Description }}</div>
      </div>

    </div>


    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="sixteen  wide column">
            {{ block "main" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

  </div>

  {{ partial "foot.html" . -}}

  <script src="{{ .Site.BaseURL }}/main.js"></script>

</body>

</html>
