{{ define "main" }}

<div class="ui items">
  {{ range .Paginator.Pages }}

  <div class="item">
    <div class="image">
      <img src="{{ if isset .Params "image" }}{{ .Permalink }}/{{ .Params.image }}{{ else }}/images/list-missing.png{{ end }}">
    </div>
    <div class="content">
      <a class="header" href="{{ .URL }}">{{ .Title }}</a>
      <div class="meta">
        <span>by {{ .Params.author }}</span>
      </div>
      <div class="description">
        <p>{{ .Description }}</p>
      </div>
      {{ if isset .Params "tags" }}
      <div class="extra">
        {{ range $index, $tag := .Params.tags }}
        <a class="ui label" href="/tags/{{ urlize . }}">#{{ lower . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>

  {{ end }}
</div>

<div class="ui center aligned container">
  <div class="ui pagination menu">
    {{ if $.Paginator.HasPrev }}
    <a class="icon item" href="{{ $.Paginator.Prev.URL }}">
      <i class="left chevron icon"></i>
    </a>
    {{ end }}
    {{ range $.Paginator.Pagers }}
    <a class="item" href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
    {{ if $.Paginator.HasNext }}
    <a class="icon item" href="{{ $.Paginator.Next.URL }}">
      <i class="right chevron icon"></i>
    </a>
    {{ end }}
  </div>
</div>

{{ end }}
