{{ define "main" }}

<div class="main ui container sticky--container">

  <div class="ui dividing right rail">
    <div class="ui sticky">
      {{ partial "toc" . }}
    </div>
  </div>
  {{/*
  <div class="abstract">
    <p>
      <i>{{ .Description }}</i>
    </p>
  </div>
  */}}

  <div>
    {{ .Content | replaceRE "<table>" "</table><table class=\"ui celled table\">" | replaceRE "<h1" "<h1 class=\"ui header\"" | replaceRE "<h2" "<h2 class=\"ui header\"" | replaceRE "<h3" "<h3 class=\"ui header\"" | replaceRE "<h4" "<h4 class=\"ui header\"" | replaceRE "<h5" "<h5 class=\"ui header\"" | replaceRE "<h6" "<h6 class=\"ui header\"" | safeHTML }}
  </div>

</div>

<script>
  $('.ui.sticky').sticky({
    context: '.sticky--container',
    offset: 56
  });
</script>

{{ end }}
