<!doctype html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ .Site.Params.SiteDescription }}">
  <meta name="author" content="{{ .Site.Params.Author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <title>{{ .Title }} -- {{ .Site.Title }}</title>


  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}



  <!-- Material Components Web -->
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/mdc-data-table.css">

  <!-- Prism.js-->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/themes/prism-tomorrow.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/themes/prism-twilight.min.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-okaidia.min.css">


  <!-- Site specific things -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/base.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/mdc-tweaks.css">

</head>

<body class="mdc-typography">

  <div id="root">

    <div style="display:flex; height:100vh">

      <aside id="drawer" class="mdc-drawer mdc-drawer--dismissible" data-mdc-auto-init="MDCDrawer">
        <div class="mdc-drawer__header">
          <h3 class="mdc-drawer__title"></h3>
          <h6 class="mdc-drawer__subtitle"></h6>
        </div>
        <div class="mdc-drawer__content">
          <nav class="mdc-list" data-mdc-auto-init="MDCList">
            <a class="mdc-list-item {{ if eq .Title "Posts"}}  mdc-list-item--activated {{ end }}" href="/post/"
              {{ if eq .Title "Posts"}} aria-selected="true" {{ end }}>
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_post_office</i>Archive
            </a>
            <a class="mdc-list-item {{ if eq .Title "Cheatsheets"}}  mdc-list-item--activated {{ end }}" href="/cheatsheet/"
              {{ if eq .Title "Cheatsheets"}} aria-selected="true" {{ end }}>
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">playlist_add_check</i>Cheatsheets
            </a>
          </nav>
        </div>
      </aside>

      <div class="mdc-drawer-app-content" style="width: 100%;">

        <header class="mdc-top-app-bar drawer-top-app-bar" id="topAppBar" data-mdc-auto-init="MDCTopAppBar">
          <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
              <button id="drawerOpener" class="material-icons mdc-top-app-bar__navigation-icon">menu</button>
              <span class="mdc-top-app-bar__title">{{ .Title }}</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
              <a class="mdc-top-app-bar__title" style="color: inherit;" href="/post/">Archive</a>
              <a class="mdc-top-app-bar__title" style="color: inherit;" href="/cheatsheet/">Cheatsheets</a>
            </section>
          </div>
        </header>

        <div class="drawer-main-content" id="drawerContent">
          <div class="mdc-top-app-bar--fixed-adjust"></div>

          <div class="content">

            <div class="content-transition">


              <script>
                let drawerButton = document.querySelector('#drawerOpener');
                let drawer = document.querySelector('#drawer');

                drawerButton.addEventListener('click', function () {
                  drawer.MDCDrawer.open = !drawer.MDCDrawer.open;
                });
              </script>
