<div class="meta" style="padding: 8px 0;">
  <small>by</small> {{ if isset .Params "author" }} <a href="/author/{{ urlize .Params.author }}">{{ .Params.author }}</a>{{ end }}
  | {{ dateFormat .Site.Params.DateFormShort .Date }} |

  in {{ range $index, $c :=  .Params.categories }}
    <a href="/categories/{{ urlize . }}" style="text-decoration: none;">
      <div class="mdc-chip" tabindex="0">
          <span class="mdc-chip__text">{{ title . }}</span>
      </div>
    </a>
  {{ end }}

  <div class="tags" style="padding:4px 0">
  {{ range $index, $tag :=  .Params.tags }}  
    <a href="/tags/{{ urlize . }}" style="text-decoration: none;">
      <div class="mdc-chip" tabindex="0">
        <span class="mdc-chip__text">#{{ lower . }}</span>
      </div>
    </a>
  {{ end }}
  </div>
</div>
