{{ with .TableOfContents }}

<style>
  .toc-container {
    position: fixed;
    bottom: 30px;
    left: calc(100vw - 100px);
    z-index: 500;
  }


  .toc {
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    position: relative;
  }

  .toc__container {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--mdc-theme-surface,#fff);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    border-radius: 4px;
    margin: 0;
    padding: 0;
    transform-origin: top left;
    overflow: auto;
    will-change: transform,opacity;
  }

  .toc--open {
    display: block;
  }
</style>

<div class="toc-container">

  <button class="mdc-fab" id="toc-menu-button">
    <span class="mdc-fab__icon material-icons">toc</span>
  </button>

  {{ $toc := replace . "<nav" "<nav id=\"toc-menu\" class=\"toc\"" }}


  <div id="toc-container" class="toc__container">
  {{ $toc | safeHTML }}
  </div>

  
    <script>

        let menuButton = document.querySelector('#toc-menu-button');
        let menu = document.querySelector('#toc-container');
        
        
        function handleBodyClick() {
            menu.classList.remove('toc--open');
        }
        
        var observer = new MutationObserver(function (mutationsList, observer) {
            for (var mutation of mutationsList) {
                if (mutation.type == 'attributes' && mutation.attributeName === 'class') {
                    if (mutation.target.classList.contains('toc--open')) {
                        document.body.addEventListener('click', handleBodyClick);
                    } else {
                        document.body.removeEventListener('click', handleBodyClick);
                    }
                }
            }
        });
        
        
        
        observer.observe(menu, { attributes: true });
        
        menuButton.addEventListener('click', function (event) {
            event.stopPropagation()
            menu.classList.toggle('toc--open');
        });
        

    </script>

</div>

{{ end }}
