/*****************************************
* General
*****************************************/

body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
}

a {
    text-decoration: none;
}


/* Disable ugly boxes around images in IE10 */
a img {
    border: 0px;
}

::-moz-selection {
    background-color: rgb(68,138,255);
    color: #fff;
}

::selection {
    background-color: rgb(68,138,255);
    color: #fff;
}

.logo-image {
    height: 28px;
    /*width: 140px;*/
}

section.comment {
    padding: 20px 0;
}

.card-container {}

.card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
    text-align: center;
}

.card-container .mdl-card__media img {
    height: 150px;
}

.card-container .mdl-card__title {
    background: transparent;
    height: auto;
}

.card-container .mdl-card__title-text {
    color: black;
    height: auto;
}

.card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
}

.card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
}

.card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
}
