/*****************************************
* Header
*****************************************/
header.header {
  overflow: visible;
  background-color: white;
}
  header.header .material-icons {
    color: #767777 !important;
  }

  header.header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  header.header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  header.header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
  }


  header .search-box {
      order: 2;
      margin-left: 16px;
      margin-right: 16px;
    }

      header .search-box .mdl-textfield__input {
        color: rgba(0, 0, 0, 0.87);
      }

      header .search-box.is-focused + .navigation-container {
        opacity: 0;
        width: 100px;
      }



  header .mobile-title {
    display: none !important;
  }

  header .more-button {
    order: 3;
  }


  header .navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

    nav.navigation {
      /* ... and now make sure the content is actually LTR */
      direction: ltr;
      justify-content: flex-end;
      width: 800px;
    }

      nav.navigation .mdl-navigation__link {
        display: inline-block;
        height: 60px;
        line-height: 68px;
        background-color: transparent !important;
        border-bottom: 4px solid transparent;
      }

        nav.navigation .mdl-navigation__link:hover {
          border-bottom: 4px solid rgb(68,138,255);
        }


  nav.drawer {
    border-right: none;
  }
    nav.drawer .logo-image {
      position: absolute;
      bottom: 16px;
    }

    nav.drawer .drawer-separator {
      height: 1px;
      background-color: #dcdcdc;
      margin: 8px 0;
    }

    nav.drawer .mdl-navigation__link.mdl-navigation__link {
      font-size: 14px;
      color: #757575;
    }

    nav.drawer span.mdl-navigation__link.mdl-navigation__link {
      color: #8bc34a;
    }

    nav.drawer .mdl-layout-title {
      position: relative;
      background: rgb(68,138,255);
      height: 160px;
    }



/*****************************************
* Footer
*****************************************/
footer.footer {
  background-color: #fafafa;
  position: relative;
  margin-top: 20px;
}



/*****************************************
* Material Design Lite
*****************************************/

.mdl-textfield--expandable {
  width: auto;
}
