body {
  margin: 0;
  padding: 0;
}

.drawer-top-app-bar {
  position: absolute;
}
.drawer-main-content {
  overflow: auto;
  height: 100%;
  padding: 0 18px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
}

.content-transition {
  width: 100%;
  max-width: 900px;
}


.masonry {
  column-count: 3;
  column-gap: 1em;
}

.masonry__item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}


.post-header--image {
  text-align: center;
}


.paginator__container a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 840px) {
  .masonry {
    column-count: 3;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
    .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media (max-width: 479px) {
  .masonry {
    column-count: 1;
  }
}
