:root {
  --mdc-theme-primary: rgb(0,0 ,0);
}

.card {
  /* min-height: 100%; */
}
.card a {
  text-decoration: none;
  color: inherit;
}

.card__content {
  display: flex;
  flex-grow: 1;
}
.card__primary {
  padding: 1rem;
}
.card__title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .0125em;
  margin: 0;
  line-height: 1.6rem;
  text-transform: uppercase;
}
.card__subtitle {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .00714em;
  margin: 0;
}
.card__secondary {
  padding: 0 1rem 8px;
}
